* {

    font-family: "Manrope", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px;
}

.navbar-main {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}


.navbar-logo {
    max-width: 135px;
    height: 41px;
}

.navbar-button {
    width: 174px;
    height: 60px;
    color: white;
    border: 2px white solid;
    border-radius: 31px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
}

.navbar-btn-right {
    display: flex;
    align-items: center;
    gap: 16px;

}

.hero-text-flex {
    display: flex;
    align-items: center;
}

.hero-heading {
    font-weight: 700;
    font-size: 200px;
    line-height: 100%;
    letter-spacing: 0%;
    max-width: 1150px;
    color: white;

}

.background-img {
    background-image: url('/assets/hero-background.png');
}

.hero-main {
    padding-top: 100px;

}

.hero-paragraph {
    max-width: 245px;
    color: white;
}

.heading-span {

    margin: 0px 0px 0px 100px;
    padding: 10px 0px;
}